<table class="table table-striped">
  <tr>
    <th><%= Card.human_attribute_name(:original_text) %></th>
    <th><%= Card.human_attribute_name(:translated_text) %></th>
    <th><%= Card.human_attribute_name(:review_date) %></th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
</table>